<div class="class-info">
    <div class="class-title">
        <% if (classroom.name.length <= 16) { %>
            <span class="class-name"><%= classroom.name %></span>
        <% } else { %>
            <span class="class-name" title="<%= classroom.name %>"><%= classroom.name.substring(0, 14) %></span>
        <% } %>
    </div>
    <div class="class-body">
        <div class="class-code"><%= classroom.code %></div>
        <div class="class-status">
            <span class="class-status-submissions" data-status="<%- classroom.settings.allow_submissions ? "enabled" : "disabled" %>">
                <i class="fa-solid fa-circle-<%- classroom.settings.allow_submissions ? "check" : "xmark" %> fa-lg"></i>
                <span>Submissions</span>
            </span>
            <span class="class-status-tokens">
                <i class="fa-solid fa-coins fa-lg"></i>
                <span><%= classroom.tokens %> Token<%= (classroom.tokens == 1 ? "" : "s") %></span>
            </span>
        </div>
    </div>
    <div class="class-actions">
        <a class="class-action-play" href="/classes/<%= classroom.code %>/">
            <i class="fa-solid fa-music"></i>
            <span>Songs</span>
        </a>
        <a class="class-action-delete" href="/classes/<%= classroom.code %>/?leave">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Leave</span>
        </a>
    </div>
</div>
