<main class="content">
    <%- include("./_student-info") %>
    <%- include("../common/_song-search") %>

    <%- include("../common/_playlist", { defaultMessage: "You are not allowed to view the playlist." }) %>

</main>

<script>
const classCode = "<%= classroom.code %>";
const studentEmail = "<%= user.email %>";
</script>