<div class="side-bar">
    <div class="side-bar-title"><%= classroom.code %></div>
    <hr/>
    <button class="side-bar-button" id="overview">
        <i class="fa-solid fa-circle-play"></i>
        <span>Overview</span>
    </button>
    <button class="side-bar-button" id="students">
        <i class="fa-solid fa-users"></i>
        <span>Students</span>
    </button>
    <button class="side-bar-button" id="settings">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
    </button>
    <button class="side-bar-button" id="delete">
        <i class="fa-solid fa-trash"></i>
        <span>Delete</span>
    </button>
    <button class="side-bar-button" id="back">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <span>Back</span>
    </button>
</div>
<main class="content">
    <div class="model" id="overview-model">
        <%- include("./_overview", { classroom: classroom }) %> 
    </div>
    <div class="model" id="students-model">
        <%- include("./_student-list", { classroom: classroom }) %>
    </div>
    <div class="model" id="settings-model">
        <%- include("./_settings", { classroom: classroom }) %>
    </div>
    <div class="model" id="delete-model">
        <%- include("./_delete", { classroom: classroom }) %>
    </div>
</main>

<script>
const classCode = "<%= classroom.code %>";
</script>